// ANTD style modify

/* 
此处只是一个案例, 根据实际的项目需求自行修改
有更好的意见可以提 issue, pr
Github地址: https://github.com/YernarT/quick-start-for-react
*/

// 图标组件
.anticon {
	color: skyblue;
	font-size: 1.24rem;
}

// 按钮组件
.quick-start-react-btn {
	box-sizing: content-box;
}
