// ANTD style modify

// button component
.react-app-template-btn {
	box-sizing: content-box;
}

// message component
.react-app-template-message-custom-content {
	// message content
	span {
		font-size: 1rem;
	}

	// message icon
	span[role="img"] {
		font-size: 1rem;
	}
}

// notification component
.react-app-template-notification {
	// message | title
	.react-app-template-notification-notice-message {
		font-size: 1.25rem;
	}
	// description | text
	.react-app-template-notification-notice-description {
		font-size: 1rem;
	}
}
