* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;

  &::first-letter {
    text-transform: uppercase;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: @primary-color;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
  }

  &:hover::-webkit-scrollbar-track {
    background: #000;
  }
}

html,
body {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 321px) and (max-width: 575px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

body {
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Poppins", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
